<div class="contact-section mt-2 center" id="chevron">
    <u class="text-light slide">
        <h2 class="text-light">Contact</h2>
    </u>
    <p class="question slide">Have a question or want to work together?</p>
    <div class="center box slide">
        <input type="text" class="text form-control" [(ngModel)]="this.name" placeholder="Name" id="nme"><br>
        <input type="email" class="text form-control" [(ngModel)]="this.email" placeholder="Enter email" id="eml">
        <textarea class="text-area" placeholder="Your Message" [(ngModel)]="this.message" id="msg"></textarea>
        <button class="btn butn text-light" (click)="contactMe()">Submit</button>
        <button class="btn butn text-light" style="margin-left: auto;">
            <a href="https://dylan-charles-corbus-resume.s3.amazonaws.com/Dylan_Charles_Corbus.docx" class="text-light">Resume</a></button>
    </div>
</div>