<div class="contact-section mt-2 center" id="chevron">
        <u class="text-light slide"><h2 class="text-light">Contact</h2></u>
        <p class="question slide">Have a question or want to work together?</p>
        <div class="center box slide">
            <input type="text" class="text form-control" placeholder="Name"><br>
            <input type="text" class="text form-control" placeholder="Enter email">
            <textarea class="text-area" placeholder="Your Message"></textarea>
            <button class="btn butn text-light">Submit</button>
        </div>
    </div>