<div class="container">
<div class="container mb-5 header">
    <u><h2>About</h2></u>
</div>
<div class="card-deck about-section mt-2">
    <div class="card border-0">
        <img src="../../../assets/technical-support.png" class="card-img-top mb-3" alt="...">
        <div class="card-body">
            <h5 class="card-title">Technical</h5>
            <p class="card-text">I've worked on the entire software stack and focus in backend development.</p>
        </div>
    </div>
    <div class="card border-0">
        <img src="../../../assets/clock.png" class="card-img-top mb-3" alt="...">
        <div class="card-body">
            <h5 class="card-title">Efficient</h5>
            <p class="card-text">I utilize the latest tools and technologies that allow me to get to prod faster.</p>
        </div>
    </div>
    <div class="card border-0">
        <img src="../../../assets/customer-support.png" class="card-img-top mb-3" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hardworking</h5>
            <p class="card-text">I work full-time and continue to learn off the clock, researching technologies.</p>
        </div>
    </div>
    <div class="card border-0">
        <img src="../../../assets/shield.png" class="card-img-top mb-3" alt="...">
        <div class="card-body">
            <h5 class="card-title">Experienced</h5>
            <p class="card-text">I've worked at two large corporations in an enterprise environment for over 2 years.
            </p>
        </div>
    </div>
</div>

<div class="container mb-5" id="parent">
    <div class="container" id="wide">
        <img class="" src="./../../../assets/me2.png">
        <h3>Who am I?</h3>
        <p>
            I work as a  Backend Engineer at Ticketmaster in Scottsdale, Az.<br>
            I have a serious passion for Tech and I'm constantly<br> trying to make the next big thing!<br>
            Check out my latest project <a href="http://spotback.io">spotback.io</a>
        </p>
    </div>
    <div class="container" id="narrow">
        <app-skills></app-skills>
    </div>
</div>
</div>