<div class="project-section center mt-2">
    <u>
        <h2 class="text-dark">Projects</h2>
    </u>

    <div class="card-deck proj center">
        <div class="card border-secondary mb-3 project" id="spotback">
            <div class="card-header">Spotback</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Mobile app</h5>
              <p class="card-text">A peer to peer parking application where users can communicate open parking spots to other users.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 project" id="recapi">
            <div class="card-header">Recapi</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Web app</h5>
              <p class="card-text">A simple app where you input your ingridients and it outputs a recipe you can make.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 project" id="cal">
            <div class="card-header">Cal State Products</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Ecommerce Website</h5>
              <p class="card-text">Cal state products sold camping and outdoor equipment.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 project" id="reimburse">
            <div class="card-header">Reimbursement System</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Web app</h5>
              <p class="card-text">A simple website where a user can submit a reimbusement request, and an admin can approve it.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 project" id="atm">
            <div class="card-header">Atm</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Command line tool</h5>
              <p class="card-text">Simple command line app with the functionality of an atm.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 project" id="algo">
            <div class="card-header">Algorithm Practice</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Java file</h5>
              <p class="card-text">A java file with completed algorithms and coding problems encountered in interviews.</p>
            </div>
          </div>
    </div>
</div>