.project-section {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 2%;
}

.center {
    text-align: center;
    align-content: center;

}

.proj {
    // width: 80%;
    display: flex;
  flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    vertical-align: middle;
    
}

.project {
    width: 30%;
    flex: 1 0 30%; /* explanation below */
  margin: 5px;
}

@media screen and (min-width: 900px) {
    #spotback {
        background-image: url('./../../../assets/spotback.png');
        background-size: 100%;
       }
       
       #spotback:hover {
           background-color: darkgrey;
           background-image: none;
       }
       
       #cal {
        background-image: url('./../../../assets/calstate.png');
       }
       
       #cal:hover {
           background-color: darkgrey;
           background-image: none;
           background-size: 100%;
       }
       
       #recapi {
        background-image: url('./../../../assets/recapi.png');
       }
       
       #recapi:hover {
           background-color: darkgrey;
           background-image: none;
           background-size: 100%;
       }
       
       #reimburse {
        background-image: url('https://github.com/Dylancorbus/myProjects/blob/master/Employee_Reimbursement_System/images/admin.PNG?raw=true');
       }
       
       #reimburse:hover {
           background-color: darkgrey;
           background-image: none;
           background-size: 100%;
       }
       
       #atm {
        background-image: url('./../../../assets/atm.png');
       }
       
       #atm:hover {
           background-color: darkgrey;
           background-image: none;
           background-size: 100%;
       }
       
       #algo {
        background-image: url('./../../../assets/algo.png');
       }
       
       #algo:hover {
           background-color: darkgrey;
           background-image: none;
           background-size: 100%;
       }
}

@media screen and (max-width:700px) {
    .card-deck {

        display: inline;
    }
    .card {
        width: 80%;
        margin: auto;
    }

    
}

.spotbackModal {
    background-image: url('./../../../assets/spotback.png');
    background-size: 100%;
}

.recapiModal {

}
.calstateModal {

}

.ersModal {

}

.atmModal {

}

.algoModal {

}



