.project-section {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 2%;
}

.center {
    text-align: center;
    align-content: center;

}

.proj {
    // width: 80%;
    display: flex;
  flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    vertical-align: middle;
    
}

.project {
    width: 30%;
    flex: 1 0 30%; /* explanation below */
  margin: 5px;
}

#spotback:hover {
    background-image: url('./../../../assets/spotback.png');
    background-size: 100%;
}

#cal:hover {
    background-image: url('./../../../assets/calstate.png');
    background-size: 100%;
}

#recapi:hover {
    background-image: url('./../../../assets/recapi.png');
    background-size: 100%;
}

#reimburse:hover {
    background-image: url('https://github.com/Dylancorbus/myProjects/blob/master/Employee_Reimbursement_System/images/admin.PNG?raw=true');
    background-size: 100%;
}

#atm:hover {
    background-image: url('./../../../assets/atm.png');
    background-size: 100%;
}

#algo:hover {
    background-image: url('./../../../assets/algo.png');
    background-size: 100%;
}

