<div class="container-fluid main-section body text-dark" id="home">
  <h1 class="">Hello, I'm <strong class="name">Dylan Corbus</strong>.</h1>
  <h1 class="intro">I'm a full-stack engineer.</h1>
  <button class="btn btn-outline-dark top-button example-1" id="start">View my work</button>
</div>
<app-menu></app-menu>
<app-about id="about"></app-about>
<app-experience id="experience"></app-experience>
<app-education id="education"></app-education>
<app-projects id="projects"></app-projects>
<app-blog id="blog"></app-blog>
<app-contact id="contact"></app-contact>