<div class="blog-section center mt-2">
    <u>
        <h2 class="text-dark">Education</h2>
    </u>

    <div class="card-deck blog center">
        <div class="card border-secondary mb-3 csu">
          <img src="./../../../assets/csumb.png">
            <div class="card-body text-dark">
              <h5 class="card-title">CSU Monterey Bay</h5>
              <p class="card-text">Bachelors of Science in Information Systems</p>
              <p class="card-text">9/2016-5/2018</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 comm">
            <img src="./../../../assets/wvc.jpg">
            <div class="card-body text-dark">
              <h5 class="card-title">West Valley College</h5>
              <p class="card-text">Associates of Science in Business Administration</p>
              <p class="card-text">1/2013-5/2016</p>
            </div>
          </div>
          <div class="card border-secondary mb-3 hs">
            <img src="./../../../assets/ashs.png">
            <div class="card-body text-dark">
              <h5 class="card-title">Ann Sobrato High School</h5>
              <p class="card-text">9/2009-12/2012</p>
            </div>
          </div>
    </div>
</div>