.blog-section {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 2%;
}

.center {
    text-align: center;
    align-content: center;

}

.card {
    outline: none;
    border: none;
    text-align: center;
    align-content: center;
}

.blog {
    // width: 80%;
    display: flex;
//   flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    vertical-align: middle;
    
}

img {
    margin-left: 40%;
    width: 20%;
    height: 30%;
}

// .csu {
//     width: 30%;
//     flex: 1 0 30%; /* explanation below */
//   margin: 5px;
// }


@media screen and (max-width:640px) {
    .card-deck {
        width: 100%;
        display: inline;
    }
    .card {
        width: 100%;
    }
}