<p class="lang">Java</p>
<div class="container">
  <div class="skills java">80%</div>
</div>

<p class="lang">HTML</p>
<div class="container">
  <div class="skills html">50%</div>
</div>

<p class="lang">CSS</p>
<div class="container">
  <div class="skills css">20%</div>
</div>
<p class="lang">JavaScript</p>
<div class="container">
  <div class="skills js">60%</div>
</div>
<p class="lang">Spring framework</p>
<div class="container">
  <div class="skills spring">50%</div>
</div>

<p class="lang">Vertx framework</p>
<div class="container">
  <div class="skills vertx">80%</div>
</div>

<p class="lang">Serverless</p>
<div class="container">
  <div class="skills serverless">70%</div>
</div>
<p class="lang">Docker</p>
<div class="container">
  <div class="skills docker">60%</div>
</div>
<p class="lang">Kubernetes</p>
<div class="container">
  <div class="skills kubernetes">50%</div>
</div>
<p class="lang">Cassandra</p>
<div class="container mb-2">
  <div class="skills cassandra">50%</div>
</div>
