<nav class="navbar navbar-expand-lg is-centered is-fullwidth" #stickyMenu [class.sticky]="sticky" id="mainNav">
    

    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span>&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item px-lg-4">
                <a class="nav-link text-expanded text-light" id="link" (click)="scrollToElement('#about')">About</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-expanded text-light" (click)="scrollToElement('#experience')">Experience</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-expanded text-light" (click)="scrollToElement('#education')">Education</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-expanded text-light" (click)="scrollToElement('#projects')">Projects</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-expanded text-light" (click)="scrollToElement('#blog')">Blog</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-expanded text-light" (click)="scrollToElement('#contact')">Contact</a>
            </li>
        </ul>
    </div>
</nav>