.experience-section {
    background-color: #f5f5f5;
    text-align: center;
    align-content: center;
    padding-top: 50px;;
    padding-bottom: 50px;
}

.jobs
    div {
        width: auto;
        
    }
#job {
    background-color: #71737654;
    margin-top: 5px;
    margin-bottom: 5px;
}
#job:hover {
    background-color: #e3266d;
    transition: ease-in;
    transition-duration: .3s;
    color: white;
    span {
        color: black;
    }
}

#job span:hover {
    transition: ease-in;
    transition-duration: .3s;
    background-color: #39c4bd;
    color: white;
}

.deets {
    position: relative;
}

#back {
    background-color: #e3266d;
    width: 50px;
    padding-top: 10px;
    top: 96%;
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
    color: white;
    &.grow {
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
}

.div-color {
    background-position:center;
    width: 80%;
    
    // background-color: rgba(128, 128, 128, 0.685);
}

.list {
    list-style-type: none;
    width: 90%;
    padding: 10px 20px;
    min-height: 400px;
    margin: auto;
    text-align: left;
    color: white;
    background-color: #1e252c;
    
}


.ticketmaster {
    background-image: url("https://media.licdn.com/dms/image/C560BAQHwOxo5hugMHw/company-logo_200_200/0?e=2159024400&v=beta&t=Hid8_zr3LsDImk1DXsJXpeyLQVQ2vhHkvukSqazQIKM");
    background-size: 10px 10px;
}

.amex {
    background-color: #006ecf;
    background-image: url("https://about.americanexpress.com/sites/americanexpress.newshq.businesswire.com/files/imagecache/listview_thumb/logo/image/AXP_BlueBoxLogo_Alternate_REGULARscale_RGB_DIGITAL_700x700.png");
    background-size: 20px 20px;
}

.sweet {
    background-color: #eeda73;
    background-image: url("https://www.sweetearthfoods.com/sites/site.prod.sweetearthfoods.com/files/favicon-sweetearth.png");
    background-size: 20px 20px;
}

.south {
    background-color: red;
    background-image: url("https://cdn1.iconfinder.com/data/icons/business-office-vol-1-2/80/Untitled-1-34-512.png");
    background-size: 20px 20px;

}