<div class="experience-section mt-2 jobs">
    <u>
        <h2 class="text-dark header2">Experience</h2>
    </u>
    <div class="container div-color" *ngIf="showJobs">
        <div class="list-group mt-3 mb-3">
            <button type="button" (click)="ticketmaster()" class="list-group-item list-group-item-action"
                id="job">Software Engineer II at Ticketmaster
                <span class="list-group-item">6/2019 - Present</span>
            </button>
            <button type="button" (click)="americanExpress()" class="list-group-item list-group-item-action"
                id="job">Software Engineer I at American Express
                <span class="list-group-item">10/2018 - 6/2019</span>
            </button>
            <button type="button" (click)="sweetEarthFoods()" class="list-group-item list-group-item-action"
                id="job">Operations Analyst Intern at Sweet Earth foods
                <span class="list-group-item">6/2017 - 8/2017</span>
            </button>
            <button type="button" (click)="southCountyChrysler()" class="list-group-item list-group-item-action"
                id="job">Mechanic Soutch County Chrysler
                <span class="list-group-item">6/2015 - 10/2016</span>
            </button>
        </div>
    </div>
    <div class="container deets">
        <div *ngIf="showTicket" class="ticketmaster">
            <div class="container" id="div-color" style="height: 60%;">
            <ul class="list">
                <h4>Ticketmaster</h4>
                <h5>Software Engineer II</h5>
                <li>
                    Backend Streaming Applications
                    <ul>
                        <li>
                            Sink App
                            <p>Built a data syncing app with spring-cloud-streams and kafka to replicate data
                                from on database to a cassandra database. This was monitoried with prometheus,
                                pagerduty, elk stack and grafana
                                and deployed on kubernetes as a docker container.</p>
                        </li>
                        <li>
                            Stream Processing App
                            <p>Built a data processing and transformation app with spring-cloud-streams and kafka to
                                replicate clean, transform and process data
                                from a core upstream system. This was monitoried with prometheus, pagerduty, elk stack
                                and grafana
                                and deployed on kubernetes as a docker container.</p>
                        </li>
                        <li>
                            Stream Processing and State Store App
                            <p>Worked on and supported a data processing and transformation app utilizing KafkaStreams
                                api to filter, process,
                                store and stream out messges to downstream systems, once the data was assembled from
                                core upstream systems.
                                This was monitoried with prometheus, pagerduty, elk stack and grafana
                                and deployed on kubernetes as a docker container.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    REST web applications
                    <ul>
                        <li>
                            High Availability Api
                            <p>Built a REST Api with spring-boot and spring-data for a new high availability system.
                                This was
                                monitoried with prometheus, pagerduty, elk stack and grafana
                                and deployed on kubernetes as a docker container.</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div *ngIf="showAmex" class="amex">
            <div class="container" id="div-color">
            <ul class="list">
                <h4>American Express</h4>
                <h5>Software Engineer I at Infosys</h5>
                <li>
                    Backend REST Functions
                    <ul>
                        <li>
                            Email Function
                            <p>Built a data aggregation app with vert.x and kafka to fetch data
                                from on multiple internal systems to populate xml template. This was monitoried with Grafana
                                and Splunk, and deployed on kubernetes as a docker container.</p>
                        </li>
                        <li>
                            Promo offers Function
                            <p>Built a REST service and data transformation app with vertx to check eligibility for a promo offers
                                from core downstream systems. This was monitoried with Grafana
                                and Splunk, and deployed on kubernetes as a docker container.</p>
                        </li>
                        <li>
                            Lending plan options Function
                            <p>Built a REST service and data transformation app with vertx to fetch eligible lending plan options
                                from core downstream systems. This was monitoried with Grafana
                                and Splunk, and  deployed on kubernetes as a docker container.</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div *ngIf="showSweet" class="sweet">
            <div class="container" id="div-color">
            <ul class="list">
                <h4>Sweet Earth Foods</h4>
                <h5>Operations Analyst Intern</h5>
                <li>
                    2018 Forecast
                    <ul>
                        <li>
                            Built out a 12 week moving avg forecasting model for all customers/products/sales
                        </li>
                        <li>
                            Cleaned, Formatted, automated importing of new data with macros
                        </li>
                        <li>
                            Forecast portrayed company well enough to lead up to getting aquired by Nestle Foods
                        </li>
                    </ul>
                </li>
                <li>
                    Data Analysis
                    <ul>
                        <li>
                            Identified trends in sales data
                        </li>
                        <li>
                            Targeted ideal restocking times
                        </li>
                        <li>
                            Identified areas for improvement
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div *ngIf="showSouth" class="south">
            <div class="container" id="div-color">
            <ul class="list">
                <h4>South Country Chrylser Jeep Dodge Ram</h4>
                <h5>Level 2 Full-service Mechanic</h5>
                <li>
                    General Automotive
                    <ul>
                        <li>
                            Worked and serviced general engine components including but not limited to: Head gaskets, 
                            water pumps, thermostats, alternators, starters, camshafts, spark plugs, exhuast manifolds
                        </li>
                        <li>
                            Reapired and replaced brake and suspension parts
                        </li>
                        <li>
                            Certified by chrysler to perform most electrical repairs and modifications
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <button class="btn grow" id="back" (click)="backToJobs()" *ngIf="!showJobs"><i
                class="icon ion-md-arrow-round-back"></i></button>
    </div>

</div>