.blog-section {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 2%;
}

.center {
    text-align: center;
    align-content: center;

}

.blog {
    // width: 80%;
    display: flex;
  flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    vertical-align: middle;
    
}

.post {
    width: 30%;
    flex: 1 0 20%; /* explanation below */
  margin: 5px;
  padding-top: 40px;
}

.post1 {
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-11/30/0/campaign_images/buzzfeed-prod-web-03/you-should-be-doing-what-you-love-not-sitting-a-5-2-27516-1512019126-0_dblbig.jpg?output-format=auto&output-quality=auto&resize=400:*;');
}

.post2 {
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-11/6/15/asset/buzzfeed-prod-web-02/sub-buzz-21736-1509999128-12.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto');
}