<div class="blog-section center mt-2">
    <u>
        <h2 class="text-dark">Blog</h2>
    </u>

    <div class="card-deck blog center">
        <div class="card border-secondary mb-3 post post1">
            <div class="card-body text-dark">
              <h5 class="card-title">You Should Be Doing What You Love, Not Sitting At A Desk From 9-5!</h5>
              <a href="https://www.buzzfeed.com/dylancorbus/you-should-be-doing-what-you-love-not-sitting-at-37kww" target="blank">Here</a>
            </div>
          </div>
          <div class="card border-secondary mb-3 post post2">
            <div class="card-body text-dark">
              <h5 class="card-title">What Thanksgiving Means For Travel!</h5>
              <a href="https://www.buzzfeed.com/dylancorbus/what-thanksgiving-means-for-travel-37kww" target="blank">Here</a>
            </div>
          </div>
          <div class="card border-secondary mb-3 post post3">
            <div class="card-body text-dark">
              <h5 class="card-title text-dark">New Parking App For San Jose!</h5>
              <a href="https://www.buzzfeed.com/dylancorbus/new-parking-app-for-san-jose-a5e7k9nov9?utm_source=dynamic&utm_campaign=bfsharecopy" target="blank">Here</a>
            </div>
          </div>
          <div class="card border-secondary mb-3 post">
            <div class="card-body text-dark">
              <h5 class="card-title">More articles comming soon</h5>
            </div>
          </div>
    </div>
</div>