.blog-section {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    margin-bottom: 50px;
    
}

h2 {
    margin-bottom: 2%;
}

.center {
    text-align: center;
    align-content: center;

}

.blog {
    // width: 80%;
    display: flex;
  flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    vertical-align: middle;
    
}

.post {
    width: 30%;
    flex: 1 0 20%; /* explanation below */
  margin: 5px;
  padding-top: 40px;
}

.post:hover {
    background-image: none;
    background-color: darkgray;
}

.pic {
    width: 70%;
    margin: auto;
    margin-left: 15%;
}

@media screen and (max-width:1000px) {
    .card-deck {
        display: inline;
    }
    .card {
        margin: auto;
        width: 80%;
    }

    .post1 {
        background-image: none;
        background-color: darkgray;
    }
    .post2 {
        background-image: none;
        background-color: darkgray;
    }
    .post3 {
        background-image: none;
        background-color: darkgray;
    }
}